body {
	background-image: url("CtrlEsc.jpg");
	background-size: cover;
  	background-attachment: fixed;
  	background-repeat: no-repeat;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	background-position: center;
 	  margin: 0;
    padding: 0;
	  font-family: Courier New;
    font-size: 80%;
}
hr{
  margin-bottom: 5%;
}
#prihlasovanie{
  margin-left: 38%;
  background-color: rgba(199, 204, 191,.5);
  padding: 1%;
}
table tr td {
  padding-top: 5%;
  padding-bottom: 5%;
}
#send {
  margin-top: 1%;
  margin-left: 150%;
  background-color: rgb(1, 6, 15);
  color: rgb(153, 161, 175);
  padding: 0.6%;
  width: 50%;
  text-align: center;
}
#sendmess{
  background-color: rgb(1, 6, 15);
  color: rgb(153, 161, 175);
  padding: 3%;
  text-align: center;
  width: 100%;
  margin-left: 105%;
}

#wrong{
  margin-top: 1%;
  margin-left: 38%;
}
#wrongNP, #rightRP{
  text-align:center;
  margin-left: 30%;
}
.myNav{
  background-color: rgba(0,0,0,.1);
  margin-bottom: 4%;
  overflow: hidden;
}
.myNav a{
  float: right;
  text-align: center;
  padding: 1%;
  font-size: 120%;
  color: gray;
}
#nazov{
  padding-right: 20%;
}
#joke{
  width: 50%;
  background-color: rgba(199, 204, 191,.5);
  margin-left: 25%;
  height: 0px;
}
 #posielanieSprav{
  margin-left: 38%;
  background-color: rgba(199, 204, 191,.5);
  padding: 1%;
 }
 #sMess{
  height: 10px;
 }
 textarea{
  height: 100px;
  width: 200px;
 }
 #aJoke{
  height: 10px;
 }
 #posielanieVtipov{
   margin-left: 38%;
   background-color: rgba(199, 204, 191,.5);
   padding: 1%;
 }
 #Addjoke{
  background-color: rgb(1, 6, 15);
  color: rgb(153, 161, 175);
  padding: 3%;
  text-align: center; 
  width: 94%;
 }
 #changeP{
  margin-left: 38%;
  background-color: rgba(199, 204, 191,.5);
  padding: 1%;
  width: 20%;
 }
 #passChange{
  margin-top: 1%;
  margin-left: 70%;
  background-color: rgb(1, 6, 15);
  color: rgb(153, 161, 175);
  padding: 0.6%;
  width: 150%;
  text-align: center;
 }
 #gMess{
  width: 50%;
  background-color: rgba(199, 204, 191,.5);
  margin-left: 25%;
  max-height: auto;
  padding: 1%;
  text-align: center;
 }
